body {
    min-height: 100vh;
    background: black;
}

.icon {
    width: 75px;
    height: 75px;
    margin: 2px;
}

.icon:hover {
    opacity: 0.8;
    box-shadow: 2px 2px 2px white;
    transition: 0.5s;
}

.Junk {
    border: 3px solid grey;
}

.Basic {
    border: 3px solid white;
}

.Fine {
    border: 3px solid rgb(60, 149, 179);
}

.Masterwork {
    border: 3px solid green;
}

.Rare {
    border: 3px solid yellow;
}

.Exotic {
    border: 3px solid orange;
}

.Ascended {
    border: 3px solid fuchsia;
}

.Legendary {
    border: 3px solid purple;
}